/* General */
header {
    background: white;
  }
  
  .navbar{
    background: rgba(0, 0, 0, 0.546);
  }



  .special-heading-container {
    padding: 5% 5% 10% 5%;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  .special-heading-container img {
    width: 26%;
  }
  
  .heading-container {
    padding: 0% 0 7% 0;
  }
  
  .common-heading {
    font-size: 2vw;
    font-family: Poppins;
  
  }
  
  .common-heading:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: #B01116;
  
    
  }
  
  .main-headingB{
    text-align: center;
    font-size: 400%;
    font-family: PoppinsBold;
    margin: 3% 0;
    background: linear-gradient(rgb(56, 12, 255), rgb(4, 97, 154), rgb(6, 189, 213));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .main-headingG{
    text-align: center;
    font-size: 400%;
    font-family: PoppinsBold;
    margin: 3% 0;
    background: linear-gradient(rgb(4, 100, 25), rgb(45, 164, 29), rgb(63, 231, 88));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .main-headingP{
    text-align: center;
    font-size: 400%;
    font-family: PoppinsBold;
    margin: 3% 0;
    background: linear-gradient(rgb(115, 8, 113), rgb(60, 39, 220), rgb(92, 170, 243));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .main-headingPi{
    text-align: center;
    font-size: 400%;
    font-family: PoppinsBold;
    margin: 3% 0;
    background: linear-gradient(rgb(255, 32, 69), rgb(232, 85, 109), rgb(214, 110, 127));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .main-headingO{
    text-align: center;
    font-size: 300%;
    font-family: PoppinsBold;
    margin: 3%;
    background: linear-gradient(rgb(255, 81, 0), rgb(231, 105, 47), rgb(255, 143, 14));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .purple{
    background: linear-gradient(rgb(115, 8, 113), rgb(60, 39, 220), rgb(92, 170, 243));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .pink{
    background: linear-gradient(rgb(255, 32, 69), rgb(232, 85, 109), rgb(214, 110, 127));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .orange{
    background: linear-gradient(rgb(255, 81, 0), rgb(231, 105, 47), rgb(255, 143, 14));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .blue{
    background: linear-gradient(rgb(56, 12, 255), rgb(4, 97, 154), rgb(6, 189, 213));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .green{
    background: linear-gradient(rgb(4, 100, 25), rgb(45, 164, 29), rgb(63, 231, 88));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .main-subheading {
    text-align: center;
    font-size: 3rem;
    font-family: Poppins;
    display: inline-block;
  }
  
  
  p.blue:before {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(56, 12, 255), rgb(4, 97, 154), rgb(6, 189, 213));
    animation: line-slide 1.5s ease-in-out forwards;
  }
  
  p.blue:after {
    content: "";
    position: absolute;
    height: 3px;
    right: 0;
    top: 0;
    background: linear-gradient(to left, rgb(56, 12, 255), rgb(4, 97, 154), rgb(6, 189, 213));
    animation: line-slide 1.5s ease-in-out forwards;
  }

  
  
  p.pink:before {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(255, 32, 69), rgb(232, 85, 109), rgb(214, 110, 127));
    animation: line-slide 1.5s ease-in-out forwards;
  }
  
  p.pink:after {
    content: "";
    position: absolute;
    height: 3px;
    right: 0;
    top: 0;
    background: linear-gradient(to left,rgb(255, 32, 69), rgb(232, 85, 109), rgb(214, 110, 127));
    animation: line-slide 1.5s ease-in-out forwards;
  }
  
  p.purple:before {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(115, 8, 113), rgb(60, 39, 220), rgb(92, 170, 243));
    animation: line-slide 1.5s ease-in-out forwards;
  }
  
  p.purple:after {
    content: "";
    position: absolute;
    height: 3px;
    right: 0;
    top: 0;
    background: linear-gradient(to left, rgb(115, 8, 113), rgb(60, 39, 220), rgb(92, 170, 243));
    animation: line-slide 1.5s ease-in-out forwards;
  }
  
  p.green:before {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(4, 100, 25), rgb(45, 164, 29), rgb(63, 231, 88));
    animation: line-slide 1.5s ease-in-out forwards;
  }
  
  p.green:after {
    content: "";
    position: absolute;
    height: 3px;
    right: 0;
    top: 0;
    background: linear-gradient(to left, rgb(4, 100, 25), rgb(45, 164, 29), rgb(63, 231, 88));
    animation: line-slide 1.5s ease-in-out forwards;
  }
  
  p.orange:before {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(255, 81, 0), rgb(231, 105, 47), rgb(255, 143, 14));
    animation: line-slide 1.5s ease-in-out forwards;
  }
  
  p.orange:after {
    content: "";
    position: absolute;
    height: 3px;
    right: 0;
    top: 0;
    background: linear-gradient(to left, rgb(255, 81, 0), rgb(231, 105, 47), rgb(255, 143, 14));
    animation: line-slide 1.5s ease-in-out forwards;
  }
  

  /* EB */



.eb-member-container {
    display: flex;
  margin-bottom: 7.5%;
  font-size: 17.5px;
}
.eb-member-container:last-child {
  margin-bottom: 0;
}
.write-up {
  margin-left: 2.5%;
  margin-top: 3.5%;
}
.image-container {
  margin: 2%;
  text-align: center;
}
.image-container img {
  object-fit: cover;
  object-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -moz-border-radius: 50%;
}
.name {
  font-family: Raleway;
  padding-top: 2%;
  font-size: 125%;
}
.position {
  padding: 1%;
  font-family: RalewayThin;
  font-size: 100%;
  font-style: italic;
}




  .common-button button {
    width: auto;
    padding: 1% 2%;
    color: #ffffff;
    border: solid 2px #b01116;
    background-color: #b01116;
    font-family: PoppinsLight;
    font-size: 80%;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .common-button button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #b01116;
  }
  
  #text {
    margin-left: 50px;
  }
  
  .info-container {
    padding: 5% 0;
    border-bottom: solid 1px #e6e6e6;
  }
  
  
  /* Animation */
  @keyframes line-slide {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
  
  /* Responsive */
  @media screen and (max-width: 600px) {
  
    .special-heading-container {
      padding: 5% 5% 10% 5%;
      text-align: center;
      width: 100%;
      height: 70%;
      margin-bottom: 0%;
    }
    
    .special-heading-container img {
      margin-top: 50px;
      width: 80%;
    }
  
    .common-heading {
      font-size: 2rem;
      font-family: Poppins;
    }
    
    .common-heading:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      background: #B01116;
    }
  
    #text{
      margin-left: 10px;
      margin-top: 250px;
    }
    
    .main-headingB {
      text-align: center;
      font-size: 300%;
      font-family: PoppinsBold;
      margin: 3%;
      background: linear-gradient(rgb(56, 12, 255), rgb(4, 97, 154), rgb(6, 189, 213));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    .main-headingG {
      text-align: center;
      font-size: 300%;
      font-family: PoppinsBold;
      margin: 3%;
      background: linear-gradient(rgb(4, 100, 25), rgb(45, 164, 29), rgb(63, 231, 88));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    .main-headingO{
      text-align: center;
      font-size: 300%;
      font-family: PoppinsBold;
      margin: 3%;
      background: linear-gradient(rgb(255, 81, 0), rgb(231, 105, 47), rgb(255, 143, 14));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    .main-headingpi{
      text-align: center;
      font-size: 300%;
      font-family: PoppinsBold;
      margin: 3%;
      background: linear-gradient(rgb(255, 32, 69), rgb(232, 85, 109), rgb(214, 110, 127));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    .main-subheading {
      text-align: center;
      font-size: 1.5rem;
      font-family: Poppins;
      display: inline-block;
    }
    
    p.blue:before {
      content: "";
      position: absolute;
      height: 3px;
      left: 0;
      bottom: 0;
      background: linear-gradient(to right, rgb(56, 12, 255), rgb(4, 97, 154), rgb(6, 189, 213));
      animation: line-slide 1.5s ease-in-out forwards;
    }
    
    p.blue:after {
      content: "";
      position: absolute;
      height: 3px;
      right: 0;
      top: 0;
      background: linear-gradient(to left, rgb(56, 12, 255), rgb(4, 97, 154), rgb(6, 189, 213));
      animation: line-slide 1.5s ease-in-out forwards;
    }
    
    p.orange:before {
      content: "";
      position: absolute;
      height: 3px;
      left: 0;
      bottom: 0;
      background: linear-gradient(rgb(255, 81, 0), rgb(231, 105, 47), rgb(255, 143, 14));
      animation: line-slide 1.5s ease-in-out forwards;
    }
    
    p.orange:after {
      content: "";
      position: absolute;
      height: 3px;
      right: 0;
      top: 0;
      background: linear-gradient(rgb(255, 81, 0), rgb(231, 105, 47), rgb(255, 143, 14));
      animation: line-slide 1.5s ease-in-out forwards;
    }
  
    p.green:before {
      content: "";
      position: absolute;
      height: 3px;
      left: 0;
      bottom: 0;
      background: linear-gradient(rgb(4, 100, 25), rgb(45, 164, 29), rgb(63, 231, 88));
      animation: line-slide 1.5s ease-in-out forwards;
    }
    
    p.green:after {
      content: "";
      position: absolute;
      height: 3px;
      right: 0;
      top: 0;
      background: linear-gradient(rgb(4, 100, 25), rgb(45, 164, 29), rgb(63, 231, 88));
      animation: line-slide 1.5s ease-in-out forwards;
    }



    /* EB */

    .eb-member-container {
        display: flex;
      flex-direction: column;
      margin: 20% 0;
      font-size: 17.5px;
    }
    .eb-member-container:first-child {
      margin-top: 0;
    }
    .eb-member-container:last-child {
      margin-bottom: 0;
    }
    .write-up {
      margin-left: 0;
    }
    .image-container {
      margin: 10% 0;
      text-align: center;
    }

    .eb-heading{
        font-size: 1.5rem;
    }
    
    .common-button{
      top: 100px;
      display: grid;
      grid-template-rows: 33.3% 33.3% 33.3%;
      gap:  10px;
    }
    
    .btn-1{
      grid-row: 1/2;
    }
    .btn-2{
      grid-row: 2/3;
    }
    .btn-3{
      grid-row: 3/4;
    }
  
    .common-button button {
      width: auto;
      padding: 1% 2%;
      color: #ffffff;
      border: solid 2px #b01116;
      background-color: #b01116;
      font-family: 'Poppins';
      font-size: 80%;
      text-decoration: none;
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
    
    .common-button button:hover {
      background-color: rgba(0, 0, 0, 0);
      color: #b01116;
    }
    
    #text {
      margin-bottom: 300px;    
      bottom: 350px;
    }
  
    .info-container {
      padding: 5% 0;
      border-bottom: solid 1px #e6e6e6;
    }
  
    .text-container {
      font-family: Raleway;
      text-align: justify;
      width: 80%;
      font-size: 125%;
      padding: 2.5% 5%;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
    }
    .pdf-container {
      width: 85%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding: 2.5% 0;
      margin-left: auto;
      margin-right: auto;
    }
    .matrix {
      width: 47.5%;
      float: left;
      text-align: left;
    }
    .rl {
      width: 47.5%;
      float: right;
      text-align: right;
    }
  
  @keyframes line-slide {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
  @keyframes zoom {
    from {
      opacity: 0;
      scale: 0.8;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
  
  }